@import '../../../css/_variables.scss';

.parent-canvas {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-image:
    radial-gradient(
        circle closest-side,
        #ffffff,
        #cdcdcd
    );
}

.tooltiptext {
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 3px;
  padding: 5px 0;
  position: fixed;
  z-index: 1;
  top: 50px;
  left: 100px;
  margin-left: -60px;
}

.tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}





