/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import './css/_variables.scss';

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-family: 'Raleway', sans-serif;
}


